/* 100px is the height of the chat input, 66px is the height of the header
and 42 is the height of the tabs. These need to be subtracted from
the height of the viewport */

.scrollable-messages {
  max-height: calc(100vh - 105px - 66px - 42px);
  min-height: calc(100vh - 105px - 66px - 42px);
  overflow-y: auto;
  padding-bottom: 20px;
}

.chat-input {
  height: 100px;
  width: 100%;
  border-top: 1px solid #ddd;
}

.chat-container .inactive {
  font-weight: bold;
  border-top: 1px solid lightblue;
  height: 100px;
  width: 100%;
  font-size: 0.8em;
  text-align: center;
  padding: 20px;
}
