.chat-sidebar {
  height: 100%;
  width: 500px;
  background: white;
  border: 1px solid #ddd;
  position: fixed;
  right: 0;
  top: 0;
}

.chat-sidebar .sidebar-header {
  padding: 15px;
  background: #ddd;
  border-bottom: 1px solid lightgray;
  font-size: 1.5rem;
}

.chat-sidebar .back-arrow {
  font-size: 2em;
  max-height: 10px;
  margin-top: -47px;
  padding-right: 5px;
}
