.message-container {
  display: flex;
  font-size: 0.8em;
  padding: 20px 20px 0px 20px;
}

.message-container .spacer {
  width: 250px;
}

.message-container.sent-from-us .message-content {
  background-color: lightblue;
}

.message-container.sent-from-them .message-content {
  background-color: lightgray;
}

.message-container .message-content {
  padding: 15px;
  border-radius: 15px;
  width: 100%;
}

.message-container .message-content .message-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-container .message-content .message-details .message-username {
  font-weight: bold;
  width: 100%;
  padding-right: 10px;
  white-space: nowrap;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.message-container .message-content .message-details .message-timestamp {
  font-size: 0.8em;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
}
